stages:
  - build
  - release

#################################
# Build the Windows MSI Installer
#################################
build:
  stage: build
  tags:
    - windows
    - windows-1809
  script:
    # Install Rye
    - wget https://github.com/mitsuhiko/rye/releases/download/0.1.2/rye-x86-windows.exe -UseBasicParsing -OutFile C:\WINDOWS\rye.exe

    - rye sync

    # Install WIX Toolkit
    - wget https://github.com/wixtoolset/wix3/releases/download/wix311rtm/wix311-binaries.zip -UseBasicParsing -OutFile c:\wix311-binaries.zip
    - mkdir c:\\wix311
    - Expand-Archive -Path c:\wix311-binaries.zip -DestinationPath c:\\wix311\\bin
    - $env:WIX="C:\\wix311\\"
    - $env:PYTHONIOENCODING="UTF-8"

    # Build app
    # newer pip ignores setup.py, newer urllib3 conflicts with older poetry
    - $version = @(python -c 'import __version__;print(__version__.version_py_short)')
    - rye run pyoxidizer build msi_installer --release --var version "$version"

    # - dir
    # - py -3.9 -m briefcase package windows
    # - dir windows
    - copy-item build\\x86_64-pc-windows-msvc\\release\\msi_installer\\*.msi .\\
    # - dir

  artifacts:
    name: "WSL-USB-GUI-$CI_COMMIT_SHORT_SHA"
    paths:
      - .\\*.msi
    expire_in: 3 days


########################################################################
# Upload the built installer to the tags page on Gitlab for the release
########################################################################
publish:
  stage: release
  image: python:3
  variables:
    GIT_STRATEGY: none
    GIT_SUBMODULE_STRATEGY: none
  script:
    - pip3 install gitlab-release
    - for f in ./*.msi; do mv "$f" "${f// /-}"; done
    - gitlab-release ./*.msi
  only:
    - tags
  artifacts:
    name: "WSL-USB-GUI-${CI_COMMIT_TAG}"
    expire_in: never
    paths:
      - ./*.msi
