stages:
  - build
  - release

###########################################
# Build the Windows MSI Installer
# Moved to AppVeyor to support code-signing
###########################################
# build:
#   stage: build
#   tags:
#     - windows
#     - windows-1809
#   script:
#     - .\build_msi.ps1

#   artifacts:
#     name: "WSL-USB-GUI-$CI_COMMIT_SHORT_SHA"
#     paths:
#       - .\\WSL*.msi
#     expire_in: 1 week
#   except:
#     - tags


release this commit:
  when: manual
  stage: release
  image: python:3
  only: [main]
  before_script:
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - git config --global user.name "$GITLAB_USER_NAME"
  script:
    - pip install git-versioner
    - git status
    - git reset --hard HEAD
    - git-versioner --tag
    # ensure git lfs hook doesn't block push
    - rm .git/hooks/pre-push
    # Requires maintainer write_repository project access token in protected env var: GIT_TOKEN
    - git push --tags https://root:$GIT_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git HEAD:main


########################################################################
# Upload the built installer to the tags page on Gitlab for the release
########################################################################
publish:
  stage: release
  image: python:3
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger"
  script:
    - ORG_ID=$(python -c 'import json;j=json.load(open("'${TRIGGER_PAYLOAD}'"));print(j["OrganizationId"])')
    - SR_ID=$(python -c 'import json;j=json.load(open("'${TRIGGER_PAYLOAD}'"));print(j["SigningRequestId"])')

    - curl -H "Authorization:"" Bearer ${SP_TOKEN}" -O -J https://app.signpath.io/API/v1/${ORG_ID}/SigningRequests/${SR_ID}/SignedArtifact
    - ls -l ./*.msi

    - pip install -U gitlab-release git-versioner
    # This gets triggered to run on main, rather than the tag, so need to find the tag manually.
    - tag=$(git-versioner --short)
    - desc=$(git describe --tags)
    - echo "$tag / $desc"
    # If commit is indeed on a tag, release the build.
    - if [ "${tag}" == "${desc}" ]; then gitlab-release --release_tag "${tag}" ./*.msi; fi

  artifacts:
    name: "WSL-USB-GUI-${CI_COMMIT_TAG:-${CI_COMMIT_SHORT_SHA}}"
    expire_in: never
    paths:
      - ./*.msi
