name: Build MSI Installer

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Required for git-versioner to work correctly

    - name: Install Rye
      shell: powershell
      run: |
        wget https://github.com/mitsuhiko/rye/releases/download/0.11.0/rye-x86_64-windows.exe -UseBasicParsing -OutFile rye.exe
        $env:path += ";."

        rye run python -m ensurepip

    - name: Install Python dependencies
      shell: powershell
      run: rye run python -m pip install -r requirements.lock

    - name: Get project version
      id: get_version
      shell: powershell
      run: |
        $version = @(rye run git-versioner --python --short)
        echo "version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Encoding UTF-8

    - name: Install WIX Toolset
      shell: powershell
      run: |
        wget https://github.com/wixtoolset/wix3/releases/download/wix311rtm/wix311-binaries.zip -UseBasicParsing -OutFile c:\wix311-binaries.zip
        mkdir c:\wix311
        Expand-Archive -Path c:\wix311-binaries.zip -DestinationPath c:\wix311\bin
        $env:WIX = "C:\wix311\"
        $env:PYTHONIOENCODING = "UTF-8"

    - name: Build MSI Installer
      shell: powershell
      run: |
        .\pyoxidizer.exe build msi_installer --release --var version "${{ steps.get_version.outputs.version }}"

    - name: Upload MSI artifact
      uses: actions/upload-artifact@v4
      with:
        name: wsl-usb-gui-msi
        path: build/x86_64-pc-windows-msvc/release/msi_installer/*.msi
